body {
  background-image: url("assets/wallpaper.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}

.titulo {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: white;
}

.container-conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 80vh;
  margin-top: 3rem;
  margin-left: 1.5rem;
  background-color: rgb(18, 49, 39);
  opacity: 70%;
  border-radius: 5%;
}

.titulo-raca-cachorro {
  padding-top: 1rem;
  color: rgb(255, 255, 255);
}

.imagem-do-cachorro {
  height: 55%;
  width: 60%;
  border-radius: 5%;
  margin-top: 1.5rem;
}

.info {
  color: white;
}

.botao {
  display: flex;
  align-items: center;
  border: solid 0px;
  border-radius: 2%;
  justify-content: center;
  height: 40px;
  width: 160px;
  font-weight: bold;
  background-color: rgb(4, 255, 109);
  transition: background-color 0.2s linear;
  margin-bottom: 7px;
}

.botao:hover {
  cursor: pointer;
  background-color: rgb(9, 196, 90);
}